*.pdf
*.zip
*.pptx
*.xlsx
*.png
作业1/Homework4a/.vs/
作业1/Homework4a/Debug/
作业1/Homework4a/Homework4a.vcxproj
作业1/Homework4a/Homework4a.sln
作业1/Homework4a/Homework4a.vcxproj.filters
作业1/Homework4a/Homework4a.vcxproj.user
